# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# OS
.DS_Store
*.log

# Testing
coverage
test-results
playwright-report

# Environment
.env*.local
