@import 'tailwindcss';

@source "../../product-catalog/src/";
@source "../../shopping-cart/src/";
@source "../../shared/src/";

@import "../../product-catalog/src/styles/scrollbar.css";

body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
